In [5]:
import selenium
import pandas as pd
from selenium import webdriver

In [6]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

In [16]:
from selenium.common.exceptions import NoSuchElementException

In [4]:
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [7]:
search_button = driver.find_element_by_xpath('//button[@class="btn"]')

In [8]:
search_button.click()

In [9]:
job_name = []
job_location = []
company_name = []
experience = []

In [10]:
for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    job_name.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]:
    company_name.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')[:10]:
    job_location.append(m.text.replace('/n',''))
for n in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[:10]:
    experience.append(n.text.replace('/n',''))

In [12]:
data_analyst_df = pd.DataFrame({})
data_analyst_df['job_name'] = job_name
data_analyst_df['company_name'] = company_name
data_analyst_df['job_location'] = job_location
data_analyst_df['experience'] = experience

In [13]:
data_analyst_df

,job_name,company_name,job_location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,0-5 Yrs
2,Data Analyst,Applied Materials,Bangalore/Bengaluru,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,Bangalore/Bengaluru,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4-9 Yrs
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
7,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
8,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [7]:
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [9]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_button = driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [12]:
job_location = []
company_name = []
title = []
for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    title.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]:
    company_name.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')[:10]:
    job_location.append(m.text.replace('/n',''))

['Inflexion Analytix Private Limited',
 'Intel Technology India Pvt Ltd',
 'Nielsen',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd']

In [15]:
url= []
for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    url.append(j.get_attribute('href'))

In [17]:
description = []

In [20]:
for i in url:
    driver.get(i)
    try:
        desc = driver.find_element_by_xpath('//section[@class="job-desc"]')
        description.append(desc.text)
    except NoSuchElementException:
        description.append('?')

In [22]:
len(description)

10

In [23]:
job_df = pd.DataFrame({})
job_df['job title'] = title
job_df['location'] = job_location
job_df['company_name'] = company_name
job_df['job description']  = description
job_df

,job title,location,company_name,job description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...
2,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description\nWe wont say we can predict th...
3,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,?
4,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nResponsibilities and Key Resu...
5,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,?
6,Data Scientist,Bangalore/Bengaluru,Oracle India Pvt. Ltd.,?
7,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
8,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
9,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f..."

# Q3 You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job resultsYou have to scrape the job-title, job-location, company_name,experience_required.

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
search_button = driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [20]:
l = driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont'][3]") #using indexing to filter location

In [22]:
l.click()

In [31]:
sal = driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl'][6]") #indexing to filter the salary range

In [32]:
sal.click()

In [33]:
job_name = []
job_location = []
company_name = []
experience = []

In [34]:
for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]:
    job_name.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')[:10]:
    company_name.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')[:10]:
    job_location.append(m.text.replace('/n',''))
for n in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[:10]:
    experience.append(n.text.replace('/n',''))

In [35]:
df = pd.DataFrame({})
df['job_name'] = job_name
df['company_name'] = company_name
df['job_location'] = job_location
df['experience'] = experience

In [36]:
df

,job_name,company_name,job_location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
2,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru",3-7 Yrs
3,Data Scientist,Mobikwik,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
6,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-5 Yrs
7,Data Scientist - Noida/ B'lore,NEC CORPORATION INDIA PRIVATE LIMITED,"Noida, Bangalore/Bengaluru",3-8 Yrs
8,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
9,Data Scientist,Cloudstrats Technologies Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",5-8 Yrs

# Q4 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [35]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [34]:
search_job = driver.find_element_by_xpath('//input[@class="css-1etjok6"]')
search_job.send_keys('Data scientist')

In [11]:
search_loc = driver.find_element_by_id('LocationSearch')
location.send_keys('Noida')

In [8]:
search_bar = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')

In [9]:
search_bar.click()

In [27]:
rating = []
days = []
company_name = []
for j in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]')[:10]:
    company_name.append(j.text.replace('/n',''))
for j in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')[:10]:
    days.append(j.text.replace('/n',''))
for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')[:10]:
    rating.append(i.text.replace('/n',''))

In [32]:
job_df = pd.DataFrame({})
job_df['company_name'] = company_name
job_df['ratings_company'] = rating
job_df['no of days'] = days
job_df

               company_name ratings_company no of days
0                   Bechtel             4.0        16d
1             Angel & Genie             5.0         1d
2                  Ericsson             4.1        24h
3   Boston Consulting Group             4.1        24h
4  Lantern Digital Services             3.7         8d
5                  Sparkbpl             3.1        14d
6          Mansha Solutions             3.8         9d
7           Priority Vendor             5.0        13d
8      Gauge Data Solutions             3.8        13d
9            Biz2Credit Inc             4.0        22d

# Q5 : Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [3]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [43]:
search_title = driver.find_element_by_id("KeywordSearch")
search_title.send_keys('Data Scientist')

In [44]:
search_loc = driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [45]:
search_button = driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_button.click()

In [4]:
company = []
for i in driver.find_elements_by_xpath('//p[@class="m-0 "]')[:10]:
    company.append(i.text.replace('/n',''))
avg_sal = []
for j in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')[:10]:
    avg_sal.append(j.text.replace('/n',''))
sal = []
for k in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]')[:10]:
    sal.append(k.text.replace('/n',''))

In [28]:
#removing \n from each element in salary
new_strings = []
for string in sal:
    new_string = string.replace("\n", " ")
    new_strings.append(new_string)

In [31]:
#seperating minimum and maximum salaries
new_sal = []
for i in new_strings:
        j= ''
        j = i.split(" ")
        new_sal.append(j)

In [35]:
#seperating minimum and maximum salaries into different
min_sal = []
max_sal = []
c=2
for i in new_sal:
    for j in range(len(i)):
        if(c%2==0):
            min_sal.append(i[0])
            c=c+1
        else:
            max_sal.append(i[1])
            c=c+1

In [40]:
#removing '\n' from each element in the list
avg = []
for string in avg_sal:
    new_string = string.replace("\n", " ")
    avg.append(new_string)

In [42]:
salaries_df = pd.DataFrame({})
salaries_df['company_name'] = company
salaries_df['average salary'] = avg
salaries_df['minimum salary'] = min_sal
salaries_df['maximum_salary'] = max_sal
salaries_df

                company_name   average salary minimum salary maximum_salary
0  Tata Consultancy Services   ₹ 6,11,228 /yr          ₹343K        ₹1,095K
1                  Accenture  ₹ 11,46,533 /yr          ₹577K        ₹2,213K
2                        IBM   ₹ 8,97,795 /yr          ₹586K        ₹2,730K
3         Ericsson-Worldwide   ₹ 7,38,057 /yr          ₹355K        ₹1,613K
4                  Delhivery  ₹ 12,39,781 /yr          ₹450K       ₹11,622K
5         UnitedHealth Group  ₹ 13,36,142 /yr        ₹1,069K        ₹1,520K
6         Valiance Solutions   ₹ 8,15,192 /yr          ₹502K        ₹1,465K
7              ZS Associates  ₹ 11,35,221 /yr          ₹202K        ₹1,809K
8                EXL Service  ₹ 11,44,243 /yr          ₹575K        ₹1,520K
9     Optum Global Solutions  ₹ 14,13,288 /yr        ₹1,014K        ₹2,149K

# Q6 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand2. Product Description
3. Price
4. Discount %

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')

In [6]:
search_product.send_keys('Sunglasses')

In [7]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [11]:
search_click.click()

In [12]:
brand_name = []
price = []
discount=  []

In [13]:
for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]:
    brand_name.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]:
    price.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]:
    discount.append(m.text.replace('/n',''))

In [14]:
url = []
for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]:
    url.append(i.get_attribute('href'))

In [15]:
product_desc = []
for i in url:
    driver.get(i)
    try:
        desc = driver.find_element_by_xpath('//div[@class="aMaAEs"]')
        product_desc.append(desc.text.replace('/n',''))
    except NoSuchElementException:
        product_desc.append('-')

In [17]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()
    #for first to second pafe only one option was there so need for indexing

In [19]:
#for second page
for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]:
    brand_name.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]:
    price.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]:
    discount.append(m.text.replace('/n',''))
for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]:
    url.append(i.get_attribute('href'))
for i in url:
    driver.get(i)
    try:
        desc = driver.find_element_by_xpath('//div[@class="aMaAEs"]')
        product_desc.append(desc.text.replace('/n',''))
    except NoSuchElementException:
        product_desc.append('-')

In [51]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_pg.click()

In [26]:
#for remaining last 20 product
for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]:
    brand_name.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]:
    price.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:20]:
    discount.append(m.text.replace('/n',''))
for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]:
    url.append(i.get_attribute('href'))
for i in url:
    driver.get(i)
    try:
        desc = driver.find_element_by_xpath('//div[@class="aMaAEs"]')
        product_desc.append(desc.text.replace('/n',''))
    except NoSuchElementException:
        product_desc.append('-')

In [32]:
sunglasses_df = pd.DataFrame({})
sunglasses_df['brand_name'] = brand_name
sunglasses_df['price'] = price
sunglasses_df['discount'] = discount
sunglasses_df['description'] = product_desc

In [33]:
sunglasses_df

,brand_name,price,discount,description
0,Fastrack,₹758,15% off,Fastrack \nUV Protection Wayfarer Sunglasses (...
1,Fastrack,₹630,21% off,Fastrack \nUV Protection Rectangular Sunglasse...
2,ROZZETTA CRAFT,₹499,77% off,ROZZETTA CRAFT \nUV Protection Retro Square Su...
3,PHENOMENAL,₹399,80% off,PHENOMENAL \nUV Protection Retro Square Sungla...
4,Fastrack,₹674,25% off,Fastrack \nUV Protection Aviator Sunglasses (F...
...,...,...,...,...
95,ROYAL SON,₹599,70% off,"PHENOMENAL \nUV Protection, Mirrored Retro Squ..."
96,Fastrack,₹576,27% off,Fastrack \nUV Protection Wayfarer Sunglasses (...
97,Elligator,₹279,88% off,"DEIXELS \nUV Protection Aviator, Wayfarer Sung..."
98,Wrogn,"₹1,162",64% off,GANSTA \nUV Protection Aviator Sunglasses (57)...
99,ROYAL SON,₹499,66% off,Fastrack \nUV Protection Aviator Sunglasses (5...

# Q7 Scrape 100 reviews data from flipkart.com for iphone11 phone

In [4]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [7]:
rating = []
review_summary = []
review_desc = []

In [9]:
for i in range(10):
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')[:10]:
        rating.append(j.text.replace('/n',''))
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')[:10]:
        review_summary.append(k.text.replace('/n',''))
    for m in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')[:10]:
        review_desc.append(m.text.replace('/n',''))
    driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]').click()
    time.sleep(3)

In [25]:
iphone_df = pd.DataFrame({})
iphone_df['rating'] = rating
iphone_df['review_summary'] = review_summary
iphone_df['review_desc'] = review_desc

In [26]:
iphone_df

,rating,review_summary,review_desc
0,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
1,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
2,5,Worth every penny,It’s been almost a month since I have been usi...
3,4,Nice product,Awesome Phone. Slightly high price but worth. ...
4,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,4,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Wonderful,Nice value for money good and best price I pho...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,5,Value-for-money,As usual a great product from Apple. but the l...

# Q8 Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [5]:
driver.get('https://www.flipkart.com/')

In [6]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('sneakers')

In [8]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_click.click()

In [10]:
brand = []
discount = []
desc = []
price = []

In [12]:
for i in range(2):
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]:
        brand.append(j.text.replace('/n',''))
    for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]:
        price.append(k.text.replace('/n',''))
    for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')[:40]:
        discount.append(m.text.replace('/n',''))
    for n in driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]:
        desc.append(n.text.replace('/n',''))
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click() #clicking on the same next page
    time.sleep(3)

In [36]:
driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()   #for last 20 items
for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]:
    brand.append(j.text.replace('/n',''))
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]:
    price.append(k.text.replace('/n',''))
for m in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')[:20]:
    discount.append(m.text.replace('/n',''))
for n in driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]:
    desc.append(n.text.replace('/n',''))

In [26]:
sneakers = pd.DataFrame({})
sneakers['brand name'] = brand
sneakers['price'] = price
sneakers['discount'] = discount
sneakers['description'] = desc

In [27]:
sneakers

,brand name,price,discount,description
0,Numenzo,₹429,57% off,Sneakers For Men
1,World Wear Footwear,₹608,39% off,Combo Pack of 2 Latest Collection Stylish casu...
2,Robbie jones,₹399,60% off,Casual Sneakers Shoes For Men Sneakers For Men
3,aadi,₹298,70% off,Sneakers For Men
4,Numenzo,₹398,60% off,Sneakers For Men
...,...,...,...,...
95,Zorth,₹699,30% off,Combo Pack of 2 Casual Sneakers For Men
96,BLACK BOTTOM,₹449,55% off,Sneakers For Men
97,SPARX,₹699,57% off,Sneakers For Men
98,Numenzo,₹429,85% off,Latest Collection-1227 Stylish Casual Sports S...
99,BRUTON,₹499,57% off,Sneakers For Men

# Q9 Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [5]:
driver.get('https://www.myntra.com/shoes')

In [8]:
price_filter = driver.find_element_by_xpath('//ul[@class="price-list"]')

In [10]:
for i  in price_filter.text.replace('/n',''):
    if(i=='Rs. 6649 to Rs. 13099(1773)'):
        i.click()

In [23]:
color_filter = driver.find_elements_by_xpath('//label[@class="common-customCheckbox"]/span')

In [26]:
for i  in color_filter:
    if(i=='Black'):
        i.click()

In [27]:
brand_name = []
short_desc = []
price = []

In [28]:
for i in range(2):
    for j in driver.find_elements_by_xpath('//h3[@class="product-brand"]')[:50]:
        brand_name.append(j.text.replace('/n',''))
    for k in driver.find_elements_by_xpath('//h4[@class="product-product"]')[:50]:
        short_desc.append(k.text.replace('/n',''))
    for m in driver.find_elements_by_xpath('//div[@class="product-price"]/span')[:50]:
        price.append(m.text.replace('/n',''))
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()
    #from each page fetching 50 records and clicking to next page
    time.sleep(3)

In [30]:
shoes_df = pd.DataFrame({})
shoes_df['brand name'] = brand_name
shoes_df['price'] = price
shoes_df['short description'] = short_desc

In [31]:
shoes_df

,brand name,price,short description
0,Reebok,Rs. 7599,Women Nanoflex Training Shoes
1,Bugatti,Rs. 7499,Women Mules
2,Heel & Buckle London,Rs. 6993Rs. 9990,Men Leather Sneakers
3,Cole Haan,(30% OFF),Men Wingtip Oxford Sneakers
4,Cole Haan,Rs. 12999,Men GENERATION ZEROGRAND STITCHLITE
...,...,...,...
95,UNDER ARMOUR,Rs. 8999Rs. 9999,HOVR Infinite 2 Running Shoes
96,KIPRUN By Decathlon,(10% OFF),Women Running Shoes
97,Geox,Rs. 7400Rs. 14800,Men Leather Driving Shoes
98,Vans,(50% OFF),Men Striped Sneakers
99,Nike,Rs. 10799Rs. 11999,Men AIR ZOOM Running Shoes

# Q10 : Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [5]:
driver.get('https://www.amazon.in/')

In [6]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys('Laptop')

In [7]:
search_button = driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [8]:
filter_button = driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if(i.text=='Intel Core i7'):
        i.click()   #setting the filter
        break

In [35]:
driver.get('https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1621269669&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_8')

In [36]:
title_2 = []
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]:
    title_2.append(i.text.replace('/n',''))
prices_of_lap = []
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]')[:10]:
    prices_of_lap.append(i.text.replace('/n',''))

In [74]:
temp_1 = prices_of_lap[:3] #one laptop has no price so spilted the list for inserting nan valuse
temp_1.insert(3,'?')
temp_2 = prices_of_lap[3:]
temp_1.extend(temp_2)
print(temp_1)

In [88]:
laptop_df = pd.DataFrame({})

In [89]:
laptop_df['title']  = title_2
laptop_df['price'] = temp_1

In [96]:
urls = []
rating_lap = []
for i in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')[:10]:
    urls.append(i.get_attribute('href'))
for i in url:
    driver.get(i)
    try:
        descs = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
        rating_lap.append(descs.text.replace('/n',''))
    except NoSuchElementException:
        rating_lap.append('?')

In [127]:
laptop_df['ratings'] = temp_ratings

In [128]:
laptop_df #i7 processor dataframe

                                               title     price ratings
0  MSI GE75 Raider 10SFS 17.3" FHD Gaming Laptop ...  1,84,990       5
1  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...    61,799       ?
2  (Renewed) Dell Latitude E6420 14 Inch Laptop (...    34,000       ?
3  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...         ?     4.5
4  Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touc...  2,16,327       4
5  (Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...    46,290       3
6  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...    53,499       ?
7  Dell Latitude 5400 14” FHD Laptop – Intel Core...  1,16,000       ?
8  Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...    89,990       3
9  (Renewed) HP Intel Core i7 6700HQ 15.6-Inch (3...         ?       ?

In [4]:
driver.get('https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A16757432031&dc&qid=1621349412&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_13')

In [5]:
filter_button = driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in filter_button:
    if(i.text=='Intel Core i9'):  #filtering for i9 processor
        i.click()
        break

In [6]:
title = []
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]:
    title.append(i.text.replace('/n',''))
prices_of_lap = []
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    prices_of_lap.append(i.text.replace('/n',''))
urls = []
rating_lap = []
for i in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')[:10]:
    urls.append(i.get_attribute('href'))
for i in url:
    driver.get(i)
    try:
        descs = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
        rating_lap.append(descs.text.replace('/n',''))
    except NoSuchElementException:
        rating_lap.append('?')
        #fetching rating because I got ratings fro href page

In [16]:
temp1 = prices_of_lap[:5]
temp2 = prices_of_lap[5:]
temp1.insert(5,'?')  # ? for laptop have no price 
temp1.extend(temp2)
print(temp1)

In [24]:
lap = pd.DataFrame({})
lap['title'] = title
lap['prices'] = temp1
lap['ratings'] = r  #dataframe for i9 processor
lap

                                               title    prices ratings
0  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  4,13,890     3.7
1  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,79,990     3.8
2  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,62,990     3.7
3  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,49,990     2.4
4  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...  3,45,900     4.5
5  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...         ?       ?
6  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,00,690     3.4
7  Dell Alienware m15(R3) 15.6" (39.62cms) UHD Ga...  3,19,990     3.1
8  (Renewed) ASUS UX581LV-H2035T ZenBook Pro Duo ...  2,07,992       ?
9  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,78,978     4.8